.tasks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    /* margin: 2rem 5rem; */
    width: 90%;
    margin: 0 auto;
    /* min-width: 25%; */
}

.shadow{
    background-color: cadetblue;
    padding: 10px;
    /* margin: 10px; */
    width: calc(25% - 10px);
    border-radius: 8px;
}